<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add Book</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css"
    />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/webjars/bootstrap/js/bootstrap.min.js"
    ></script>
    <script type="text/javascript" src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Add a New Book</h1>
      <form id="add-book-form" method="post" th:action="@{/addBook}">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input
            type="text"
            class="form-control"
            id="author"
            name="author"
            required
          />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            rows="4"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="chapter" class="form-label">Chapter</label>
          <input
            type="text"
            class="form-control"
            id="chapter"
            name="chapter"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Add Book</button>
      </form>
      <div th:if="${message}" class="mt-3">
        <p th:text="${message}" class="alert alert-info"></p>
      </div>
    </div>
  </body>
</html>
